body {
  font-family: 'Lato', sans-serif;

}
#page_wrap {
  margin:20px;
  border:1px solid #000;
  border-radius: 5px;
  padding:20px;
}
#banner {
  position: relative;
  padding-bottom:30px;
}
#banner .strap {
  float:right;
  font-size:36px;
  position: absolute;
  top: 0px; right:0;
  color: #000
}

/**** General purpose styles ****/
.hidden {
  position:absolute;
  top: -10000px;
  left:0
}
/**** Dialogs ****/
#resources .hide {
  display:none
}

.container {
  font-size: 0;
  width: 100%;
}

.caller {
  height: auto;
  width: 50%;
  display: inline-block;
  padding: .5% 1%;
  box-sizing: border-box;
  font-size: 1rem;
  position: relative;
}

.calltarget {
  width: 50%;
  padding: 5px;
}

.state {
  display: inline-block;
  color: palevioletred;
}

.button {
  padding: 5px;
  background: none;
  border: 1px solid palevioletred;
  border-radius: 6px;
}

.video {
  width: 100%;
  border: 1px solid palevioletred;
}

.video--me {
  background-color: white;
  width: 30%;
  border: 1px solid rebeccapurple;
  position: absolute;
  bottom: 3%;
  left: 3%;
}


form .message {color:#ff0000; font-weight:bold;text-align:center}
.stdForm .form-group {
  margin-bottom:10px;
}
.stdForm button {
  xbackground-color:#e0e0e0;
  font-size:24px;
  padding: 5px;
  background-color: #e0e0e0;
  border: 1px solid #df1314;
  color: #000;
  border-radius: 5px;
}
.stdForm button:hover {
  background-color: #c0c0c0;
  box-shadow: 2px 2px 5px #ccc
}
